/* /////////////////////////////////////////////
    Subd: Coding Dojo > Web Fundamentals > CSS
    Learning Flex
    By: Virgilio D. Cabading Jr.
    Created: October 12, 2021 
    ////////////////////////////////////////////*/

    .container {
        width: 720px;
        height: 250px;
        background-color: silver;
        display: flex;
        align-items: center;
    }
        
    .col {
        width: 220px;
        padding: 10px;
        background-color: blanchedalmond;
    }
    
    